.vis-item.unconnected {
    background-color: #ddd;
    border-width:0px
}
.vis-item.connected {
    background-color: #4b8d00;
    border-width:1px;
    border-color: #4b8d00;
}

.vis-item.commandExecuted {
    background-color: #b1eb76;
    border-width:1px;
    border-color: #9dd169;
}
.vis-item.performedCommandSuccess {
    background-color: #b1eb76;
    border-width:1px;
    border-color: #9dd169;
}
.vis-item.connecting {
    background-color: #5deaff;
    border-width:1px;
    border-color: #53d2e6;
}
.vis-item.performingCommand {
    background-color: #5deaff;
    border-width:1px;
    border-color: #53d2e6;
}
.vis-item.duplicateCommand {
    background-color: #5deaff;
    border-width:1px;
    border-color: #53d2e6;
}
.vis-item.connectingFailed {
    background-color: #eea23b;
    border-width:1px;
    border-color: #d48435;
}
.vis-item.performedCommandFailed {
    background-color: #eea23b;
    border-width:1px;
    border-color: #d48435;
}
.vis-item.ERROR {
    background-color: #7e0000;
    border-width:1px;
    border-color: #4f0000;
}

.vis-item.TIMEOUT {
    background-color: #f16161;
    border-width:1px;
    border-color: #bf4c4c;
}

.vis-panel.vis-left.vis-inner {
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
}

.vis-custom-time {
    pointer-events: none;
}

.vis-item.success {
    background-color: #b1eb76;
    border-width:1px;
    border-color: #9dd169;
}
.vis-item.error {
    background-color: #eea23b;
    border-width:1px;
    border-color: #d48435;
}

.promiseGraphPoints {
    fill:#4f81bd;
    fill-opacity:0;
    stroke-width:2px;
    stroke: #4f81bd;
}
.uptimePoints {
    fill:#4f81bd;
    fill-opacity:0;
    stroke-width:1px;
    stroke: #4f81bd;
}


.vis-item.green {
    background-color: #b1eb76;
    border-width:1px;
    border-color: #779e4f;
}
.vis-item.orange {
    background-color: #eea23b;
    border-width:1px;
    border-color: #d48435;
}
.vis-item.blue {
    background-color: #60a8f0;
    border-width:1px;
    border-color: #3a5e8a;
}
.vis-item.gray {
    background-color: #ccc;
    border-width:1px;
    border-color: #aaa;
}